CONFIG_ASPEED_UART_ROUTING=y
CONFIG_DEVMEM=y
CONFIG_I2C_MUX_GPIO=y
CONFIG_I2C_MUX_PCA954x=y
CONFIG_USB_UHCI_HCD=y

# I2C mqueue for mctp
CONFIG_I2C_SLAVE_MQUEUE=m
CONFIG_I2C_SLAVE_MQUEUE_QUEUE_SIZE=32
CONFIG_I2C_SLAVE_MQUEUE_MESSAGE_SIZE=256

CONFIG_MCTP_TRANSPORT_I3C=y

# Support for virtual USB NIC
CONFIG_USB_U_ETHER=y
CONFIG_USB_F_ECM=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_ECM_SUBSET=y

CONFIG_PWM=y
CONFIG_SENSORS_ASPEED_G6=y
#CONFIG_SENSORS_SBTSI=y
#CONFIG_SENSORS_SBRMI=y
CONFIG_APML_SBRMI=y
CONFIG_APML_SBTSI=y
CONFIG_SENSORS_NCT7363=y

CONFIG_ASPEED_ESPI=y
# CONFIG_AST2600_ESPI=y JM
CONFIG_AUXILIARY_BUS=y

CONFIG_I3C=y
CONFIG_DW_I3C_MASTER=y
CONFIG_AST2600_I3C_MASTER=y
CONFIG_I3C_HUB=y

CONFIG_SENSORS_PWM_FAN=y
CONFIG_SENSORS_TMP401=y
CONFIG_SENSORS_NCT7802=y
CONFIG_SENSORS_MAX31790=y
CONFIG_LTC2497=y

ONFIG_ASPEED_BMC_DEV=y
CONFIG_ASPEED_HOST_BMC_DEV=y
CONFIG_ASPEED_MCTP=y

CONFIG_JTAG=y
CONFIG_JTAG_ASPEED=y

CONFIG_CRYPTO_DEV_ASPEED=y
CONFIG_CRYPTO_DEV_ASPEED_HACE=y
CONFIG_CRYPTO_DEV_ASPEED_HACE_HASH=y
CONFIG_CRYPTO_DEV_ASPEED_HACE_CRYPTO=y
CONFIG_CRYPTO_DEV_ASPEED_ACRY=y

CONFIG_ASPEED_LPC_PCC=y

CONFIG_VT=y
CONFIG_BONDING=m

CONFIG_PECI=n
CONFIG_PECI_ASPEED=y
CONFIG_CMD_PECITEST=y
CONFIG_WANT_PECI_LEGACY=y
CONFIG_PECI_LEGACY=y
CONFIG_PECI_CHARDEV_LEGACY=y
CONFIG_SENSORS_PECI_CPUTEMP_LEGACY=y
CONFIG_SENSORS_PECI_DIMMTEMP_LEGACY=y
CONFIG_SENSORS_PECI_CPUPOWER_LEGACY=y
CONFIG_SENSORS_PECI_DIMMPOWER_LEGACY=y
CONFIG_SENSORS_PECI_PLATFORMPOWER_LEGACY=y

CONFIG_EEPROM_AT24=y
CONFIG_EEPROM_AT25=y

CONFIG_PMBUS=y
CONFIG_SENSORS_ADM1275=y
CONFIG_SENSORS_MP2869=y

CONFIG_DRM=y
CONFIG_DRM_ASPEED_GFX=y
