 ONFIG_ASPEED_ESPI_MMBI=y
CONFIG_MCTP=y
CONFIG_MCTP_SERIAL=y
CONFIG_MCTP_TRANSPORT_I2C=y
CONFIG_MCTP_TRANSPORT_I3C=y

CONFIG_I2C_ASPEED=y
CONFIG_ASPEED_MCTP=y

# I2C mqueue for mctp
CONFIG_I2C_SLAVE_MQUEUE=m
CONFIG_I2C_SLAVE_MQUEUE_QUEUE_SIZE=32
CONFIG_I2C_SLAVE_MQUEUE_MESSAGE_SIZE=256
