[Unit]
Description=Mitac MCTP Engine for AMD Platform
After=mctpd.service

[Service]
Type=simple
ExecStart=/usr/bin/mctp-ep-mgr -c /usr/lib/mitac-mctp-pcie-vdm-core/mmpvcd_amd_platforms.json
SyslogIdentifier=MitacMCTPEngineAMD
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
