// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2019 IBM Corp.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "MiTAC Base Capri 20250516";
	#include "aspeed-bmc-mitac-2600-reserved-memory.dtsi"

        leds {
                compatible = "gpio-leds";

                bmc_heartbeat {
                        gpios = <&gpio0 ASPEED_GPIO(P, 7) GPIO_ACTIVE_LOW>;
                        default-state = "on";
                };
		//Unable to use aspeed-bmc-mitac-common-leds.dtsi due to S8056 has different arrangement for identify led.
                identify {
                        gpios = <&gpio0 ASPEED_GPIO(B, 7) GPIO_ACTIVE_LOW>;
                        default-state = "on";
                };
                cpu_prochot {
                        gpios = <&gpio0 ASPEED_GPIO(C, 5) GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
		fault {
			gpios = <&gpio0 ASPEED_GPIO(G, 3) GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
        };

        gpio-keys {
                compatible = "gpio-keys";

		#include "aspeed-bmc-mitac-common-buttons.dtsi"
        };

        fan2: pwm-fan2 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 2 40000 0>;
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 16 32 64>;
        };

        fan3: pwm-fan3 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 3 40000 0>;
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 16 32 64>;
        };
};
&pwm_tach {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm2_default &pinctrl_pwm3_default
                     &pinctrl_tach2_default &pinctrl_tach3_default
                    >;

        fan@2 {
                tach-ch = /bits/ 8 <0x02>;
        };
        fan@3 {
                tach-ch = /bits/ 8 <0x03>;
        };
};

&mdio0 {
        status = "okay";

        ethphy0: ethernet-phy@0 {
                compatible = "ethernet-phy-ieee802.3-c22";
                reg = <0>;
        };
};

/* Used on Mi-DCSCM for dedicated NIC */
&mac0 {
        status = "okay";

        phy-mode = "rgmii-rxid";
        phy-handle = <&ethphy0>;

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&mac3 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rmii4_default>;
	clock-names = "MACCLK", "RCLK";
        use-ncsi;
};

&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
#include "MiOBMC-flash-layout-64.dtsi"
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-rx-bus-width = <1>;
		spi-max-frequency = <50000000>;
	};
};

&uart2 {
        status = "okay";
};

&uart3 {
        status = "okay";
};

&uart5 {
	// Workaround for A0
	compatible = "snps,dw-apb-uart";
};

&uart_routing {
        status = "okay";
};

&bmc_dev {
        status = "okay";
        memory-region = <&bmc_dev_memory>;
};

/*
&vuart1{
        status = "okay";
};
*/

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>, <0x81>;
};

&lpc_ctrl {
	status = "okay";
};

&fsim0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&sdc {
	status = "okay";
};

&vhub {
	status = "okay";
	pinctrl-names = "default";
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&kcs1 {
        kcs-io-addr = <0xca0>;
	kcs-channel = <1>;
        status = "okay";
};

&kcs2 {
        kcs-io-addr = <0xca8>;
	kcs-channel = <2>;
        status = "okay";
};

&kcs3 {
        kcs-io-addr = <0xca2>;
	kcs-channel = <3>;
        status = "okay";
};

&wdt1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_wdtrst1_default>;
        aspeed,reset-type = "soc";
        aspeed,external-signal;
        aspeed,ext-push-pull;
        aspeed,ext-active-high;
        aspeed,ext-pulse-duration = <256>;
};

&i2c1 {
	status = "okay";
	// MB FRU for Capri2
	eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
	};
};
&i2c2 {
        status = "okay";
};
&i2c3 {
        status = "okay";
};
&i2c4 {
        status = "okay";
	// MB FRU for MPH
	eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
	};
	// DC-SCM FRU on E7142 DCSCM
	eeprom@51 {
		compatible = "atmel,24c64";
		reg = <0x50>;
	};
};
&i2c5 {
        status = "okay";
};
&i2c6 {
        status = "okay";
};
&i2c7 {
        status = "okay";
};
&i2c8 {
        status = "okay";
};
&i2c9 {
        status = "okay";
};
&i2c10 {
        status = "okay";
};
&i2c11 {
        status = "okay";
};
/* Used as SGPIO
&i2c12 {
	status = "okay";
};
&i2c13 {
	status = "okay";
};
*/
&i2c14 {
        status = "okay";
};
&i2c15 {
        status = "okay";
};

&sgpiom0 {
        status = "okay";
        ngpios = <128>;
};
&sgpiom1 {
        status = "okay";
        ngpios = <128>;
};

&gpio0 {
	gpio-line-names =
	/*A0-A7*/	"gpio-a0","","","","","","","",
	/*B0-B7*/	"gpio-b0","spi-mux-bios","","","","","","",
	/*C0-C7*/	"gpio-c0","","","identify-led",
			"","","","",
	/*D0-D7*/	"gpio-d0","","","",
			"","","","",
	/*E0-E7*/	"gpio-e0","","","","","","","",
	/*F0-F7*/	"gpio-f0","","",
			"","","",
			"","",
	/*G0-G7*/	"","bmc-ready-n","","",
			"","","","",
	/*H0-H7*/	"gpio-h0","","",
			"","","","","",
	/*I0-I7*/	"gpio-i0","","","","","","","",
	/*J0-J7*/	"gpio-j0","","","","","","","",
	/*K0-K7*/	"gpio-k0","","","","","","","",
	/*L0-L7*/	"gpio-l0","","","","","","","",
	/*M0-M7*/	"gpio-00","","","",
			"","","","",
	/*N0-N7*/	"gpio-n0","","","",
			"","","","",
	/*O0-O7*/	"gpio-o0","","","","","","","",
	/*P0-P7*/	"reset-button","reset-control","power-button","power-control",
			"nmi-button","nmi-control","","",
	/*Q0-Q7*/	"gpio-q0","","","","","","","",
	/*R0-R7*/	"gpio-r0","","","","","","","",
	/*S0-S7*/	"gpio-s0","","","",
			"","","","",
	/*T0-T7*/	"gpio-t0","","","","","","","",
	/*U0-U7*/	"gpio-u0","","","","","","","",
	/*V0-V7*/	"gpio-v0","","","",
			"","","chassis-power-good","",
	/*W0-W7*/	"gpio-w0","","","",
			"","","","",
	/*X0-X7*/	"gpio-x0","",
			"","",
			"","",
			"","",
	/*Y0-Y7*/	"gpio-y0","","","","","","","",
	/*Z0-Z7*/	"gpio-z0","","","","","","","";
};

&gpio1 {
	gpio-line-names =
	/*18A0-18A7*/	"","","","",
			"","","","",
	/*18B0-18B7*/	"","","","","","","","",
	/*18C0-18C7*/	"","","","",
			"","","","",
	/*18D0-18D7*/	"","","","","","","","",
	/*18E0-18E3*/	"","","","";
};

&gfx {
	pcie-reset-detect;
	status = "okay";
	memory-region = <&gfx_memory>;
};
