// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2019 IBM Corp.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "MiTAC S8261 20250516";
	#include "aspeed-bmc-mitac-2600-reserved-memory.dtsi"

        leds {
                compatible = "gpio-leds";

                bmc_heartbeat {
                        gpios = <&gpio0 ASPEED_GPIO(G, 4) GPIO_ACTIVE_LOW>;
                        default-state = "on";
                };
                identify {
                        gpios = <&gpio0 ASPEED_GPIO(G, 0) GPIO_ACTIVE_HIGH>;
                        default-state = "off";
                };
                error_led {
                        gpios = <&gpio0 ASPEED_GPIO(G, 2) GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                css_led {
                        gpios = <&gpio0 ASPEED_GPIO(G, 1) GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_a_fault_led {
                        gpios = <&pca1 0 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_b_fault_led {
                        gpios = <&pca1 1 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_c_fault_led {
                        gpios = <&pca1 2 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_d_fault_led {
                        gpios = <&pca1 3 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_e_fault_led {
                        gpios = <&pca1 4 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_f_fault_led {
                        gpios = <&pca1 5 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_g_fault_led {
                        gpios = <&pca1 6 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_h_fault_led {
                        gpios = <&pca1 7 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_i_fault_led {
                        gpios = <&pca1 8 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_j_fault_led {
                        gpios = <&pca1 9 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_k_fault_led {
                        gpios = <&pca1 10 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_dimm_l_fault_led {
                        gpios = <&pca1 11 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_a_fault_led {
                        gpios = <&pca1 12 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_b_fault_led {
                        gpios = <&pca1 13 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_c_fault_led {
                        gpios = <&pca1 14 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_d_fault_led {
                        gpios = <&pca1 15 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_e_fault_led {
                        gpios = <&pca2 0 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_f_fault_led {
                        gpios = <&pca2 1 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_g_fault_led {
                        gpios = <&pca2 2 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_h_fault_led {
                        gpios = <&pca2 3 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_i_fault_led {
                        gpios = <&pca2 4 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_j_fault_led {
                        gpios = <&pca2 5 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_k_fault_led {
                        gpios = <&pca2 6 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_dimm_l_fault_led {
                        gpios = <&pca2 7 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                pcie_slot5_fault_led {
                        gpios = <&pca3 0 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                pcie_slot7_fault_led {
                        gpios = <&pca3 4 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu1_fault_led {
                        gpios = <&pca3 13 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                cpu2_fault_led {
                        gpios = <&pca3 14 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                fan1_fault_led {
                        gpios = <&pca4 0 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                fan2_fault_led {
                        gpios = <&pca4 1 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                fan3_fault_led {
                        gpios = <&pca4 2 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                fan4_fault_led {
                        gpios = <&pca4 3 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                fan5_fault_led {
                        gpios = <&pca4 4 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                fan6_fault_led {
                        gpios = <&pca4 5 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
                battery_fault_led {
                        gpios = <&pca4 11 GPIO_ACTIVE_LOW>;
                        default-state = "off";
                };
        };

#include "aspeed-bmc-mitac-input-event-code.dtsi"
        gpio-keys {
                compatible = "gpio-keys";
                event-identify-button {
                        label = "IDENTIFY-BUTTON";
                        gpios = <&gpio1 ASPEED_GPIO(A, 2) GPIO_ACTIVE_LOW>;
                        linux,code = <ASPEED_GPIO(A, 2)>;
                };
        };

        iio-hwmon {
                compatible = "iio-hwmon";
                io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
                        <&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
                        <&adc1 0>, <&adc1 1>, <&adc1 2>, <&adc1 3>,
                        <&adc1 4>, <&adc1 5>, <&adc1 6>, <&adc1 7>;
        };

        fan0: pwm-fan0 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 0 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan1: pwm-fan1 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 1 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan2: pwm-fan2 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 2 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan3: pwm-fan3 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 3 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan4: pwm-fan4 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 4 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan5: pwm-fan5 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 5 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan6: pwm-fan6 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 6 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };

        fan7: pwm-fan7 {
                compatible = "pwm-fan";
                pwms = <&pwm_tach 7 40000 0>;   /* Target freq:25 kHz */
                cooling-min-state = <0>;
                cooling-max-state = <3>;
                #cooling-cells = <2>;
                cooling-levels = <0 15 128 255>;
        };
};

&mdio2 {
	status = "okay";

	ethphy2: ethernet-phy@2 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac2 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&ethphy2>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii3_default>;
};

&mac3 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rmii4_default>;
	clock-names = "MACCLK", "RCLK";
        use-ncsi;
};


&rtc {
	status = "okay";
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
#include "MiOBMC-flash-layout-64.dtsi"
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-rx-bus-width = <1>;
		spi-max-frequency = <50000000>;
	};
};

&uart3 {
        status = "okay";
};

&uart4 {
        status = "okay";
};

&uart5 {
	// Workaround for A0
	compatible = "snps,dw-apb-uart";
};

&uart_routing {
        status = "okay";
};

&lpc_snoop {
	status = "okay";
	snoop-ports = <0x80>, <0x81>;
};

&lpc_ctrl {
	status = "okay";
};
/*
&lpc_pcc {
        port-addr = <0x80>;
        dma-mode;
	// It is required to be 4 bytes mode when A2600-15 is activated.
        A2600-15;
        memory-region = <&pcc_memory>;
        rec-mode = <0x1>;
        port-addr-hbits-select = <0x1>;
        port-addr-xbits = <0x3>;

        status = "okay";
};
*/
&fsim0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&sdc {
	status = "okay";
};

&vhub {
	status = "okay";
	pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usb2ad_default>;
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&kcs1 {
        kcs-io-addr = <0xca0>;
	kcs-channel = <1>;
        status = "okay";
};

&kcs2 {
        kcs-io-addr = <0xca8>;
	kcs-channel = <2>;
        status = "okay";
};

&kcs3 {
        kcs-io-addr = <0xca2>;
	kcs-channel = <3>;
        status = "okay";
};

&wdt1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_wdtrst1_default>;
        aspeed,reset-type = "soc";
        aspeed,external-signal;
        aspeed,ext-push-pull;
        aspeed,ext-active-high;
        aspeed,ext-pulse-duration = <256>;
};

/*
&wdt2 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_wdtrst2_default>;
        aspeed,reset-type = "system";
};
*/

&pwm_tach {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
                     &pinctrl_pwm2_default &pinctrl_pwm3_default
                     &pinctrl_pwm4_default &pinctrl_pwm5_default
                     &pinctrl_pwm6_default &pinctrl_pwm7_default
                     &pinctrl_tach0_default &pinctrl_tach1_default
                     &pinctrl_tach2_default &pinctrl_tach3_default
                     &pinctrl_tach4_default &pinctrl_tach5_default
                     &pinctrl_tach6_default &pinctrl_tach7_default
                     &pinctrl_tach8_default &pinctrl_tach9_default
                     &pinctrl_tach10_default &pinctrl_tach11_default
                     &pinctrl_tach12_default &pinctrl_tach13_default
                     &pinctrl_tach14_default &pinctrl_tach15_default
                    >;

        fan@0 {
                tach-ch = /bits/ 8 <0x00>;
        };
        fan@1 {
                tach-ch = /bits/ 8 <0x01>;
        };
        fan@2 {
                tach-ch = /bits/ 8 <0x02>;
        };
        fan@3 {
                tach-ch = /bits/ 8 <0x03>;
        };
        fan@4 {
                tach-ch = /bits/ 8 <0x04>;
        };
        fan@5 {
                tach-ch = /bits/ 8 <0x05>;
        };
        fan@6 {
                tach-ch = /bits/ 8 <0x06>;
        };
        fan@7 {
                tach-ch = /bits/ 8 <0x07>;
        };
        fan@8 {
                tach-ch = /bits/ 8 <0x08>;
        };
        fan@9 {
                tach-ch = /bits/ 8 <0x09>;
        };
        fan@10 {
                tach-ch = /bits/ 8 <0x0A>;
        };
        fan@11 {
                tach-ch = /bits/ 8 <0x0B>;
        };
        fan@12 {
                tach-ch = /bits/ 8 <0x0C>;
        };
        fan@14 {
                tach-ch = /bits/ 8 <0x0E>;
        };
        fan@15 {
                tach-ch = /bits/ 8 <0x0F>;
        };
};

&mbox {
        status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
	// MB FRU
	eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
	};

};
&i2c2 {
	status = "okay";
};
&i2c3 {
	// P0 APML
	status = "okay";

	sbrmi@3c {
	    compatible = "amd,sbrmi";
		reg = <0x3c>;
	};

	sbtsi@4c {
		compatible = "amd,sbtsi";
		reg = <0x4c>;
	};

    // P1 APML
	sbrmi@38 {
	    compatible = "amd,sbrmi";
		reg = <0x38>;
	};

	sbtsi@48 {
		compatible = "amd,sbtsi";
		reg = <0x48>;
	};
};
&i2c4 {
	status = "okay";
};
&i2c5 {
	status = "okay";
};
&i2c6 {
	status = "okay";
};
&i2c7 {
	status = "okay";
};
&i2c8 {
	status = "okay";

	pca1: pca9539@74 {
		compatible = "nxp,pca9539";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
		"cpu1_dimm_a_fault_led","cpu1_dimm_b_fault_led",
		"cpu1_dimm_c_fault_led","cpu1_dimm_d_fault_led",
		"cpu1_dimm_e_fault_led","cpu1_dimm_f_fault_led",
		"cpu1_dimm_g_fault_led","cpu1_dimm_h_fault_led",
		"cpu1_dimm_i_fault_led","cpu1_dimm_j_fault_led",
		"cpu1_dimm_k_fault_led","cpu1_dimm_l_fault_led",
		"cpu2_dimm_a_fault_led","cpu2_dimm_b_fault_led",
		"cpu2_dimm_c_fault_led","cpu2_dimm_d_fault_led";
	};

	pca2: pca9539@75 {
		compatible = "nxp,pca9539";
		reg = <0x75>;
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
		"cpu2_dimm_e_fault_led","cpu2_dimm_f_fault_led",
		"cpu2_dimm_g_fault_led","cpu2_dimm_h_fault_led",
		"cpu2_dimm_i_fault_led","cpu2_dimm_j_fault_led",
		"cpu2_dimm_k_fault_led","cpu2_dimm_l_fault_led",
		"","","","",
		"","","","";
	};

	pca3: pca9539@76 {
		compatible = "nxp,pca9539";
		reg = <0x76>;
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
		"pcie_slot5_fault_led","",
		"","",
		"pcie_slot7_fault_led","",
		"","",
		"","","","",
		"","cpu1_fault_led","cpu2_fault_led","";
	};

	pca4: pca9539@77 {
		compatible = "nxp,pca9539";
		reg = <0x77>;
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
		"fan1_fault_led","fan2_fault_led",
		"fan3_fault_led","fan4_fault_led",
		"fan5_fault_led","fan6_fault_led",
		"","",
		"","","","battery_fault_led",
		"","","","";
	};
};
&i2c9 {
	status = "okay";
};

/* M24 MDC3
&i2c10 {
	status = "okay";
};
*/

&i2c12 {
	status = "okay";
};
&i2c13 {
	status = "okay";
};
&i2c14 {
	status = "okay";
};

&i3c0 {
        status = "okay";
};

&i3c1 {
        status = "okay";
};

&i3c2 {
        status = "okay";
};

&i3c3 {
        status = "okay";
};

&i3c4 {
        status = "okay";
};

&adc0 {
        status = "okay";
        pinctrl-0 = <&pinctrl_adc0_default &pinctrl_adc1_default
                        &pinctrl_adc2_default &pinctrl_adc3_default
                        &pinctrl_adc4_default &pinctrl_adc5_default
                        &pinctrl_adc6_default &pinctrl_adc7_default>;
};

&adc1 {
        status = "okay";
        pinctrl-0 = <&pinctrl_adc8_default &pinctrl_adc9_default
			&pinctrl_adc10_default &pinctrl_adc11_default
			&pinctrl_adc12_default &pinctrl_adc13_default
			&pinctrl_adc14_default &pinctrl_adc15_default>;
};

&gpio0 {
	gpio-line-names =
	/*A0-A7*/	"gpio-a0","","","","","","","",
	/*B0-B7*/	"gpio-b0","chassis-power-good","","","","","","",
	/*C0-C7*/	"gpio-c0","","","",
			"","","","",
	/*D0-D7*/	"gpio-d0","","","",
			"","","","",
	/*E0-E7*/	"gpio-e0","","","","","","","",
	/*F0-F7*/	"gpio-f0","","",
			"","","",
			"","",
	/*G0-G7*/	"","","","",
			"","spi-mux-bios","","bmc-ready-n",
	/*H0-H7*/	"gpio-h0","","",
			"","","","","",
	/*I0-I7*/	"gpio-i0","","","","","","","",
	/*J0-J7*/	"gpio-j0","","","","","","","",
	/*K0-K7*/	"gpio-k0","","","","","","","",
	/*L0-L7*/	"gpio-l0","","","","","","","",
	/*M0-M7*/	"gpio-00","","","",
			"","","","",
	/*N0-N7*/	"gpio-n0","nmi-control","","",
			"","","","",
	/*O0-O7*/	"gpio-o0","","","CMOS_BAT_SCALED_EN_N","","","","",
	/*P0-P7*/	"reset-button","reset-control","power-button","power-control",
			"nmi-button","","","",
	/*Q0-Q7*/	"gpio-q0","","","","","","","",
	/*R0-R7*/	"gpio-r0","","","","","","","",
	/*S0-S7*/	"gpio-s0","","","",
			"","","","",
	/*T0-T7*/	"gpio-t0","","","","","","","",
	/*U0-U7*/	"gpio-u0","","","","","","","",
	/*V0-V7*/	"SIO_S3","SIO_S5","","SIO_ONCONTROL",
			"SIO_POWER_GOOD","","","",
	/*W0-W7*/	"gpio-w0","","","",
			"","","","",
	/*X0-X7*/	"gpio-x0","cpu0-thermtrip",
			"cpu1-thermtrip","",
			"","",
			"","",
	/*Y0-Y7*/	"gpio-y0","","bios-post-complete","","","","","",
	/*Z0-Z7*/	"gpio-z0","","","","","","","";
};

&gpio1 {
	gpio-line-names =
	/*18A0-18A7*/	"","","identify-button","",
			"","","","",
	/*18B0-18B7*/	"","","","","","","","",
	/*18C0-18C7*/	"","","","",
			"","","","",
	/*18D0-18D7*/	"","","","","","","","",
	/*18E0-18E3*/	"","","","";
};

#include "aspeed-bmc-mitac-common.dtsi"
#include "aspeed-bmc-mitac-2600-enable-dp.dtsi"

