CONFIG_DEVMEM=y
CONFIG_NETSTAT=y
CONFIG_IFCONFIG=y
CONFIG_FEATURE_IFCONFIG_STATUS=y
#CONFIG_FEATURE_IFCONFIG_MEMSTART_IOADDR_IRQ=y
CONFIG_FEATURE_IFCONFIG_HW=y
#CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS=y
CONFIG_SHELL=y
CONFIG_WATCHDOG=y
